.git
.github
.idea
.vscode
.DS_Store
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
database/*.sqlite
database/*.sqlite-shm
database/*.sqlite-wal
database/*.sqlite-journal
.env
.env.*
!.env.example
*.log
public/build
public/hot
public/storage
Dockerfile
.dockerignore
README.md
phpunit.xml
.phpunit.result.cache
tests
